$font-family: "Source Code Pro", monospace;
$background-color: #23262e;
$font-color: #d5ced9;
$yellow-color: #ffe66d;
$green-color: #96e072;
$pink-color: #ff00aa;
$purple-color: #c668ba;
$orange-color: #fc644d;

$test-border: 1px solid orange;

$margin-left-mobile: 10vw;
$margin-right-mobile: 10vw;
$padding-top-mobile: 55px;

// $margin-top: 15px;
// $margin-bottom: 15px;
